body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(207, 207, 207);
}

.player{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.wrapper{
    border:1px solid transparent;
    background-color: rgb(37, 37, 37);
    padding: 30px;
    border-radius: 20px;
    box-shadow:rgba(0,0,0,0.3) 0px 19px 38px, rgba(0, 0, 0,0.22) 0px 15px 12px;
    

}
.details{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.track-art {
  margin: 25px auto;
  height: 250px;
  width: 250px;
  border: 2px solid rgb(49, 49, 49);
  background-size: cover;
  background-position: center;
  border-radius: 0;   
  box-shadow: 0px 10px 16px rgba(0,0,0,0.25);

}

.now-playing{
    font-size: 1rem;
}
.track-name{
    font-size:2.5rem;
    color: white;
}
.track-artist{
    margin-top:5px;
    font-size:20px;
}
.buttons{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-bottom: 30px;
    color: rgb(207, 207, 207);
}
.playpause-track{
    color: rgb(245, 245, 246);
}

.repeat-track:active,
    .playpause-track:active,
    .prev-track:active,
    .next-track:active {
    color: rgb(105, 104, 104);
    }

.repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 25px;
    opacity: 1.0;
    transition: opacity .2s;
    }
.random-track{
    color:rgb(105, 104, 104); ;
}

.repeat-track:hover,
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
    opacity: 0.8;
    cursor: pointer;
    }
.random-track:hover{
    cursor: pointer;
}

.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek-slider,
.volume-slider{
    appearance: none;
    height:5px;
    background-color: grey ;
    transition: opacity 0.2s;
    border-radius: 4px;
    cursor: pointer;
}

.seek-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: white ;
  border: 3px solid rgb(71, 70, 70);
  cursor: pointer;
  border-radius: 50%;
}

.seek-slider::-moz-range-thumb,
.volume-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774FF;
  cursor: pointer;
  border-radius: 50%;
}

.seek-slider:hover,
.volume-slider:hover {
opacity: 1.0;
}
    
.seek-slider {
width: 60%;
}
    
.volumeslider {
width: 30%;
}

.current-time,
.total-duration{
    padding:10px;
}

i.fa-volume-down,
i.fa-volume-up{
    padding:10px;
}

.randomActive{
    color: white;
}

